@font-face {
    font-family: geon;
    src: url("../fonts/geon.otf");
}
:root{
    --primary: white;
    --background:rgb(33, 38, 71);
    --width:70vh;
    --height:50vh;
}

body{
    color: var(--primary);
    display: flex;
    flex-direction: column;
    background: var(--background);
    background-repeat: no-repeat;
    justify-content: center;
    font-family: geon;
}

.b{
    font-weight: bolder;
    font-family: geon;
    font-size: 2rem;
}

input[type="text"]{
    text-indent: 1rem;
    margin-right: 1rem;
}

input[type="text"]:focus{
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
 
input{
    height: 35px;
    font-size: 1rem;
    border-radius: 5px;
    border:none;
}

input[type="button"]{
    transition: 0.1s;
    background-color: orange;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

input[type="button"]:hover{
    transition: 0.1s;
    box-shadow: 0 5px 5px black;
    color: black;
}

.allMovies {
    display:flex;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: none;  
    color: white;
}

.allMovies .element{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 215px;
    height: 370px;
    position: relative;
    margin: 1vh;
    transition: 0.5s;
    overflow: hidden;
    background-color: black;
    color: white;
    flex-direction: column;
}

.allMovies .element .image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.allMovies .element img{
    position: absolute;
    top: 10px;
    transition: 0.3s;
    border-radius: 5px;
    z-index: 0;
    height: 300px;
}

.allMovies .element .image .front{
    z-index: 2000;
    transition: 0.5s;
    border: 10px solid black;
    position: absolute;
    top: 0px;
    width: 200px;
    height: 370px;
    cursor: pointer;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.0) 65%, rgb(0, 0, 0) 80%,rgb(0, 0, 0) 90%,rgb(0, 0, 0) 100%);
}

.allMovies .element .image .front:hover{
    transition: 0.5s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0) 0%, rgba(0, 0, 0, 0.5) 40%, rgb(0, 0, 0) 75%,rgba(0, 0, 0, 0.9) 90%,rgb(0, 0, 0) 100%);

}

.allMovies .movieTitle{
    display: flex;
    margin: auto;
    width: 80%;
    text-align: center;
    font-weight: bold;
    color: var(--primary);
    font-family: geon;
    z-index: 10;
    padding-bottom: 1rem;
}

.infos{
    z-index: 1000;
}

body{
    padding-top: 100px;
    font-family: verdana;
}

.error{
    font-family: geon;
    position: absolute;
}

.date{
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* =================================================================
navbar 
*/

nav{
    display: flex;
    padding-top: 25px;
    top: 0;left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
    border: 1px dotted black;
    display: flex;
    justify-content: space-between;
    background: rgb(7,1,33);
    background: linear-gradient(180deg, rgba(7,1,33,1) 0%, rgba(3,2,42,1) 26%, rgba(0,1,47,1) 100%);
    background-repeat: no-repeat;
    /*box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);*/
    /*background-color: white;*/
}

nav .left{
    margin-left: 100px;
}

nav .right{
    margin-right: 25px;
}
